.clear{clear:both}
.temp_content select{
	height:25px;
}
.service_type{
	clear:both;
	background:#eee;
	padding:10px;
}
.temp_content h5 span{
	display:inline-block;
	padding:5px;
	background:#f2f2f2;
	font-size:14px;
	font-weight:500;
}
.temp_content label{
	font-weight:normal;
	text-align: right
}
.temp_content .form-group{
	margin-bottom:5px
}
.title-content{
	padding:5px 30px 5px 0px;
	background:#eee;
	font-size:15px;
}
.order-details .list-details{
	margin-bottom:3px;
	border-bottom:1px solid #eee;
}
.order-details .list-details label{
	border-right:1px solid #eee;
	border-left:1px solid #eee;
}
.order-details .attachment{
	margin-top:5px;
	font-size:13px;
}
.order-details .attachment p{
	margin-bottom:0px;
}
.filter-list li{
	padding-left:5px;
}
.temp_content .select2-selection--multiple{
	font-size:12px;
	min-height:25px;
}

.list-qtxl label{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:10px;
}

.list-qtxl b{
	display:block;
	margin:5px 0px;
}